<div class="hero text-center">
  <div class="hero-background" style="background-image: url(assets/img/bg-abstract-2.jpg);"></div>
  <div class="hero-account">
    <img class="user-avatar" src="./assets/img/avatar.png">
    <!-- <a *ngIf="metaLoggedOff && !wrongNetwork " href="#" class="btn btn-primary" (click)="connectWallet()">Connect Wallet</a> -->
    <div  *ngIf="!metaLoggedOff && !wrongNetwork" class="address">{{metamaskAddress}}</div>
  </div>
</div>
<div *ngIf="show" class="content">
  <div *ngIf="tokenData.length>0" class="row">
    <div *ngFor="let ele of tokenData" class="col-lg-3 col-sm-6">
      <div class="card nft-card" routerLink="/asset/{{ele.tokenId}}" routerLinkActive="active">
        <img *ngIf="ele.categoryId == 1" class="card-img-top"
          src="./assets/img/fee-slasher.jpg">
        <img *ngIf="ele.categoryId == 0" class="card-img-top"
          src="./assets/img/position-booster.jpg">
          <div class="card-body">
            <div>
              <div class="card-head">
                <div class="price">
                  TokenId : {{ele.tokenId}}
                </div>
              </div>
              <div class="card-title">{{ele.desc}}</div>
              <!-- <div class="card-title">Selling NFT Id : {{ele.tokenId}}</div> -->
            </div>
            <!-- <div class="time"><i></i>{{ele.categoryId}}:{{ele.categoryId}}:{{ele.categoryId}}:{{ele.categoryId}}</div> -->
            <div class="time"><i></i>Validity : {{ele.validity}}</div>
          </div>
      </div>
    </div>
  </div>
  <div *ngIf="tokenData.length==0" class="text-center py-5">
    <h3>No assets found in this account </h3>
  </div>
</div>

<div class="modal" id="modal-metamaskCheck" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Connect to MetaMask Wallet</h5>
        <span aria-hidden="true">&times;</span>
      </div>
      <div class="modal-body text-center">
        <div *ngIf="metamaskNotPresent && !wrongNetwork">
          <p>Download Metamask Extension and connect with your wallet to continue using plotx marketplace.</p>
        </div>
        <div *ngIf="!metamaskNotPresent && !wrongNetwork">
          <a class="btn btn-primary mt20 mb20" (click)="enableMetamask()">Connect</a>
        </div>
        <div *ngIf="wrongNetwork">
          <p>Please switch to the kovan test network via Metamask to continue using PlotX marketplace.</p>
          <a class="btn btn-primary mt20 mb20" (click)="reload()">Try Again</a>
        </div>
      </div>
    </div>
  </div>
</div>
