<div class="hero text-center">
  <div class="hero-background" style="background-image: url(assets/img/bg-abstract-2.jpg);"></div>
  <div class="hero-account">
    <img class="user-avatar" src="./assets/img/avatar.png">
    <div  *ngIf="!wrongNetwork" class="address">{{metamaskAddress}}</div>
  </div>
</div>
<div class="content">
  <div class="row">
    <div class="col-lg-3 col-sm-6">
      <div class="card nft-card">
        <img class="card-img-top"
          src="https://images.unsplash.com/photo-1547891654-e66ed7ebb968?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80">
        <div class="card-body">
          <div>
            <div class="card-title">lorem ipsum doller sit amet lorem ipsum</div>
          </div>
          <div class="card-head" *ngIf="false">
            <span class="time mt-0">24 hour left</span>
            <div class="price">
              250 PLOT
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="card nft-card">
        <img class="card-img-top"
          src="https://images.unsplash.com/photo-1547891654-e66ed7ebb968?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80">
        <div class="card-body">
          <div>
            <div class="card-title">lorem ipsum doller sit amet lorem ipsum</div>
          </div>
          <div class="card-head" *ngIf="true">
            <span class="time mt-0">24 hour left</span>
            <div class="price">
              250 PLOT
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center py-5">
    <h3>No assets found in this account </h3>
  </div>
</div>

<div class="modal" id="modal-metamaskCheck" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Connect to Wallet</h5>
        <button *ngIf="metamaskNotPresent" type="button" class="close" data-dismiss="modal" aria-label="Close" routerLink="/market/hourly/BTC-ETH">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <!-- If no metamask installed in browser -->
        <div *ngIf="metamaskNotPresent">
          <p>You need to use an Ethereum wallet. Try the Metamask Extension for Brave, Chrome and Firefox.</p>
          <a href="https://metamask.io/" target="_blank" class="card color-primary my20 py20 px40"
            style="display: inline-block;">
            <img height="40px" src="assets/img/metamask-icon.svg">
            <h6 class="mb0 mt10">MetaMask</h6>
            <span style="font-size: 0.8rem;">Install in Chrome, Brave or Firefox</span>
          </a>
        </div>
        <!-- If wrong network selected in metamask -->
        <div *ngIf = "wrongNetwork">
          <p>Please switch to the Kovan test Network via Metamask to continue using Plotus</p>
          <a class="btn btn-primary mt20 mb20" (click)="reload()">Try Again</a>
        </div>
      </div>
    </div>
  </div>
</div>
