<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="./assets/img/PlotX_logo-dark.svg" alt="">
    <span style="font-size: 0.8rem; padding-left: 10px;font-weight: 500;">Marketplace</span>
  </a>
  <div class="dropdown">
    <a class="user-toggle dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
      <img class="user-avatar" src="./assets/img/avatar.png">
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
      <li><a class="dropdown-item" routerLink="/account" routerLinkActive="active">My Profile</a></li>
      <!-- <li><a class="dropdown-item" href="#">Sell</a></li> -->
    </ul>
  </div>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->

  <!-- <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
  </div> -->
</nav>
