<div class="hero text-center">
  <div class="hero-background" style="background-image: url(assets/img/bg-abstract-1.jpg);"></div>
  <h1>The PlotX NFT Marketplace</h1>
  <p class="lead">Buy & Sell NFTs</p>
  <button class="btn btn-primary" (click)="scroll(target)">Explore</button>
</div>
<div class="content" #target>
  <div class="row">
    <div *ngFor="let ele of tradeData" class="col-lg-3 col-sm-6">
      <div class="card nft-card" routerLink="/asset/{{ele.tokenId}}" routerLinkActive="active">
        <img *ngIf="ele.categoryId == 1" class="card-img-top"
          src="./assets/img/fee-slasher.jpg">
        <img *ngIf="ele.categoryId == 0" class="card-img-top"
          src="./assets/img/position-booster.jpg">
          <div class="card-body">
            <div>
              <div class="card-head">
                <span class="user">{{ele.partyAddress}}</span>
                <div class="price">
                  {{ele.tokenAmount}} {{ele.tokenName}}
                </div>
              </div>
              <div class="card-title">{{ele.tokenDesc}}</div>
              <!-- <div class="card-title">Selling NFT Id : {{ele.tokenId}}</div> -->
            </div>
            <div class="time"><i></i>{{ele.days}}:{{ele.hours}}:{{ele.minutes}}:{{ele.seconds}}</div>
            <div class="time"><i></i>Validity : {{ele.tokenValidity}}</div>
          </div>
      </div>
    </div>
  </div>
</div>
