<div class="hero text-center">
  <div class="hero-background" style="background-image: url(assets/img/bg-abstract-1.jpg);"></div>
  <h1>The PlotX NFT Marketplace</h1>
  <p class="lead">Buy & Sell NFTs</p>
  <button class="btn btn-primary" (click)="scroll(target)">Explore</button>
</div>
<div class="content" #target>
  <div class="row">
    <div class="col-lg-3 col-sm-6">
      <div class="card nft-card">
        <img class="card-img-top"
          src="https://images.unsplash.com/photo-1547891654-e66ed7ebb968?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80">
          <div class="card-body">
            <div>
              <div class="card-head">
                <span class="user">0x54s...f5s</span>
                <div class="price">
                  250 PLOT
                </div>
              </div>
              <div class="card-title">lorem ipsum doller sit amet lorem ipsum</div>
            </div>
            <div class="time"><i></i> 24 hour left</div>
          </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="card nft-card">
        <img class="card-img-top"
          src="https://images.unsplash.com/photo-1547891654-e66ed7ebb968?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80">
        <div class="card-body">
          <div>
            <div class="card-head">
              <span class="user">0x54s...f5s</span>
              <div class="price">
                250 PLOT
              </div>
            </div>
            <div class="card-title">lorem ipsum doller sit amet</div>
          </div>
          <div class="time"><i></i> 24 hour left</div>
        </div>
      </div>
    </div>
  </div>
</div>
